<nav class="sidebar">
    <div class="sidebar-link">
        <img src="icons/home.svg">
        <div>Home</div>
    </div>
    <div class="sidebar-link">
        <img src="icons/explore.svg">
        <div>Explore</div>
    </div>
    <div class="sidebar-link">
        <img src="icons/subscriptions.svg">
        <div>Subscriptions</div>
    </div>
    <div class="sidebar-link">
        <img src="icons/originals.svg">
        <div>Originals</div>
    </div>
    <div class="sidebar-link">
        <img src="icons/youtube-music.svg">
        <div>YouTube Music</div>
    </div>
    <div class="sidebar-link">
        <img src="icons/library.svg">
        <div>Library</div>
    </div>
</nav>